html {
    height: 100%;
}

body {
    border: 3px yellow dashed;
    background-color: green;
    height: 90%;
}

div{
    border: 1px aqua dashed;
    font: 30px bolder;
}

.container {
    vertical-align:center;
    text-align: center;
    height: 80%;
    width: 80%;
    margin: 10%;
    border: 3px coral solid;
}

kbd{
    border: 1px deeppink dashed;
    display: inline-block;
    height: 200px;
    width: 50px;
    margin: 0 0 0 -5px;
    text-align: center;
}

.white-keys {
    margin: 150px auto auto auto;
    width: 80%;
}

.black-keys {
    margin: -205px auto auto auto;
    width: 80%;
}

.white-keys kbd {
    background-color: white;
    vertical-align: bottom;
}

.black-keys kbd {
    background-color: black;
    left: 50px;
    color: lightyellow;
    display: inline-block;
    margin: 0;
    height: 80px;
    margin-left: 21px;
}